
opdrachten/week_1/dolar

opdrachten/week2/number

opdrachten/week1/dolar

opdrachten/week1/dollar

opdrachten/week1/ISBN

opdrachten/week1/reverse

opdrachten/week1/taxes

opdrachten/week1/sphere

opdrachten/week2/cijfer

opdrachten/week2/square

opdrachten/week2/reeks

opdrachten/week1/reverss

opdrachten/week1/octal

opdrachten/week2/wind

opdrachten/week3/array
